# Execute it as a markdown cell
# Data Science Tools and Ecosystems

# Execute it as a markdown cell
**In this notebook, Data Science Tools and Ecosystem are summerized.**

# Execute it as a markdown cell
Some of the popular languages that are used by data scientists are:
1. Python.
2. R.
3. Java.
4. Scala.
5. Julia.
6. SQL.

# Execute it as a markdown cell
Some of the commonly used libraries used by Data Scientists Include:
1. Pandas.
2. Numpy.
3. Scipy.
4. Matplotlib.

# Execute it as a markdown cell
|Data Science Tools|Jupyter Note Book|Rstudio|Apache Zeppelin|
|------------------|-----------------|---------|-------------|

# Execute this as a markdown cell
### H3: Below are a few examples of evaluating arthemetic expressions in python

In [1]:
# This is a simple arthematic expression to multiply and then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Execute it as a markdown cell
**Objective.**
+ Python.
+ R.
+ Scala.
+ Julia.
+ Java.
+ SQL

# Execute it as a markdown cell
## Author
Satishkumar R